HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

AppVotos/tests/.env
__pycache__/
AppVotos/app/votingapp/src/main/resources/aa-sic-424610-eea4d305377e.json
imageTest/
random_users*

votingappdatabase/

ansible/

### VS Code ###
.vscode/
