# Credenciais de um user QUE ESTEJA NA VOSSA BASE DE DADOS
EMAIL=someemail@example.com
PASSWORD=password
# Credenciais da base de dados -> DEVEM SER AS QUE ESTÃO AQUI
DB_HOST=localhost
DB_NAME=votingapp
DB_USER=root
DB_PASSWORD=mysql